/* styles.css */

/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling for the entire category page */
.category-page {
    font-family: Arial, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Style the category heading */
h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Style individual product items */
.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.product img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.product p {
    font-size: 16px;
    color: hsl(0, 92%, 52%);
}
