.footer {
    background-color: #eb8015;
    color: #fff;
    text-align: center;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .top ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cartimg {
    height: 30px;
    width: auto;
}
.footer .top ul li {
    display: inline-block;
    margin-right: 20px;
}

.footer .top ul li:last-child {
    margin-right: 0;
}

.footer .bottom p {
    margin: 0;
}
.footer .brand{
    display: flex;
}
.footer .brand h2{
    font-size: 24px;
    margin-right: 10px;
}
.footer.brand img{
    height:30px;
    margin-left: 10px;
    order:1;
}
.social-icons a {
    color: #810dee;
    margin-right: 10px;
    font-size: 20px;
    transition: color 0.3s ease;
}
.payment-icons a{
    color: chartreuse;
    margin-right:10px;
    font-size: 20px;

.social-icons a:hover {
    color: #f60;
}