@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700;800&family=Rubik:wght@300;400;500;600&display=swap");
/*Fonts
Poppins: 300 400 600 700 800
Rubik: 300 400 500 600*/

:root {
  --primary-color: #ff6b6b;
  --secondary-color: #794afa;
  --secondary-dark-color: #453c5c;

  --white-color: #ffffff;
  --light-bg-color: #f2f3f5;
  --light-text-color: #7c899a;
  --border-color: #e5e8ec;
  --dark-color: #0a021c;

  --font-small: 13px;
  --font-smaller: 10px;

  --percent100: 100%;
  --percent50: 50%;

  --fw3: 300;
  --fw5: 500;
  --fw6: 600;
  --fw7: 700;
  --fw8: 800;

  --trans-background-color: background-color 0.3s, color 0.3s;
  --trans-background: background-color 0.3s;
  --trans-color: color 0.3s;
}


* {
  margin: 0;
  padding: 0;
}
*,::before,::after {
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: var(--dark-color);
  background-color: var(--white-color);
}
a {
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}
ul {
  list-style: none;
}
img {
  max-width: var(--percent100);
  vertical-align: middle;
}
strong {
  font-weight: var(--fw8);
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input::placeholder {
  font: inherit;
}

h1,h2,h3,h4 {
  font-family: "Poppins";
}

h1 {
  font-size: calc(1.3em + 1vm);
  font-weight: var(--fw8);
  line-height: 1;
}
h2 {
  font-size: 2.5em;
}
h3 {
  font-size: 1.2em;
  font-weight: var(--fw7);
}
h4 {
  font-size: 1em;
  font-weight: var(--fw6);
}





/*
Reusable Selector
*/

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 0.938em;
}
.column {
  margin-left: -0.938em;
  margin-right: -0.938em;
}
.column .row {
  padding: 0 0.938em;
}
.flexwrap {
  display: flex;
  flex-wrap: wrap;
}
.flexcenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flexitem {
  display: flex;
  align-items: center;
}
.flexcol {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.main-links a:hover {
  color: var(--secondary-color);
}
.second-links a:hover {
  color: var(--light-text-color);
}

.icon-small, .icon-large {
  display: flex;
  align-items: center;
  padding: 0 0.25em;
  font-weight: normal;
}
.icon-small {
  font-size: 1.25em;
  margin-left: auto;
}
.icon-large {
  font-size: 1.75em;
  padding: 0 0.75em 0 0;
}

.mobile-hide {
    display: none;
}
.object-cover img {
  position: absolute;
  object-fit: cover;
  width: var(--percent100);
  height: var(--percent100);
  display: block;
}
.products .media {
  position: relative;
  flex-shrink: 0;
  overflow: hidden;
}
.sell {
    text-align: center;
}
.button {
    cursor: pointer;
    border: 1px solid var(--border-color);
}
.primary-button, .secondary-button, .light-button, .button {
  font-size: var(--font-small);
  padding: 0.9em 2em;
  height: auto;
  width: fit-content;
  border-radius: 2em;
  transition: var(--trans-background-color);
}
.primary-button, .button {
  background-color: var(--primary-color);
  color: var(--white-color);
}
.primary-button:hover {
  background-color: var(--dark-color);
}
.button:hover {
  background-color: var(--dark-color);
}
.secondary-button {
  background-color: var(--secondary-dark-color);
  color: var(--white-color);
}
.secondary-button:hover {
  background-color: var(--light-bg-color);
  color: var(--secondary-dark-color);
}
.light-button {
  background-color: var(--light-bg-color);
}
.light-button:hover {
  background-color: var(--secondary-dark-color);
  color: var(--white-color);
}
.view-all {
  font-size: var(--font-small);
  display: flex;
  gap: 1em;
  transition: var(--trans-color);
}
.normal {
  text-decoration: line-through;
}
.mini-text {
  font-size: var(--font-smaller);
  color: var(--light-text-color);
}

/*
01. Header
*/

:where(.off-canvas, header) li > a {
  display: flex;
  position: relative;
  line-height: inherit;
  transition: var(--trans-color);
}



/*01. Header

a. Header Top*/

.header-top .wrapper {
  font-size: var(--font-small);
  font-weight: var(--fw3);
  justify-content: space-between;
  line-height: 42px;
}
.header-top .wrapper ul {
  gap: 2em;
}
.header-top li {
  position: relative;
}
.header-top ul ul {
  position: absolute;
  left: -1em;
  line-height: 2em;
  background-color: var(--white-color);
  border: 1px solid var(--border-color);
  z-index: 1;
  display: none;
}
:where(.header-top, .thetop-nav) .right ul ul li a {
  padding: 0.25em 1em;
}
:where(.header-top, .thetop-nav) .right ul ul li.current a {
  background-color: var(--border-color);
}
.header-top li:hover ul {
  display: block;
}

/*01. Header
b. Header Nav*/

.header-nav {
  padding: 0.5em 0;
  margin-bottom: 1.5em;
  border-bottom: 1px solid var(--border-color);
}
.trigger {
  font-size: 1.5em;
  display: flex;
  padding: 0.25em;
  margin-right: 0.5em;
}
.logo a {
  font-family: "Poppins";
  font-size: 1.75em;
  position: relative;
  font-weight: var(--fw8);
  display: flex;
  padding-left: 0.75em;
  margin-right: 2em;
}
.circle {
  position: absolute;
  top: -15px;
  left: 0;
  width: 38px;
  height: 38px;
  border-radius: var(--percent50);
  background-color: var(--light-bg-color);
  z-index: -1;
}
.circle::before {
  content: '';
  position: absolute;
  width: 28px;
  height: 28px;
  border-radius: var(--percent50);
  background-color: var(--secondary-color);
  bottom: 5px;
  right: 5px;
  opacity: 0.4;
}
.header-nav nav > ul {
  line-height: 100px;
  gap: 2em;
}

.fly-item {
  position: absolute;
  height: 16px;
  font-size: var(--font-smaller);
  padding: 3px;
  text-align: center;
  line-height: 10px;
  color: var(--white-color);
}
nav .fly-item {
  top: 50%;
  margin-top: -24px;
  width: 30px;
  border-radius: 3px;
  right: -32px;
  background-color: var(--primary-color);
}
.header-nav .right {
  position: relative;
  margin-left: auto;
}
.header-nav .right .icon-large {
  position: relative;
}
.header-nav .right .fly-item {
  top: 0;
  right: 16px;
  width: 16px;
  background-color: var(--secondary-dark-color);
  border-radius: var(--percent50);
}
.mega .flexcol {
  flex: 1;
  min-width: 180px;
  padding-right: 2.5em;
  margin-bottom: 1.5em;
  z-index: 1;
}


/* 01. Header
 c header Main, Category */
.header-main {
  background-color: var(--secondary-dark-color);
  padding: 1.5em 0;
  margin-bottom: 2em;
}
.dpt-cat {
  position: relative;
  z-index: 10;
}
.dpt-cat .dpt-head {
  position: relative;
  width: 300px;
  padding: 0.75em 1.5em;
  background-color: var(--primary-color);
  border-radius: 7px 7px 0 0;
  color: var(--white-color);
  margin-bottom: -2.15em;
}
.dpt-cat .dpt-head .mini-text {
  color: var(--light-bg-color);
}
.dpt-cat .dpt-trigger {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1.3em;
  height: 60px;
  width: 60px;
}
.dpt-menu > ul > li > a {
  font-size: var(--font-small);
  height: 46px;
  align-items: center;
}
.dpt-menu .has-child:hover ul {
  display: block;
}
.dpt-menu .has-child li a:hover {
  text-decoration: underline;
}

/* 01 Header 
d. search form */
.header-main .right {
  flex: 1;
}
form {
  position: relative;
}
form.search input {
  line-height: 3.25em;
  padding: 0 7em 0 4.5em;
  border: 0;
  outline: 0;
  width: var(--percent100);
  border-radius: 7px;
  font-size: 0.9em;
  font-weight: var(--fw3);
}
form.search :where(span, button) {
  position: absolute;
  top: 0;
  padding: 0.55em 1.5em;
  font-size: 1em;
  color: var(--light-text-color);
  height: var(--percent100);
}
form.search button {
  right: 0;
  border: 0;
  outline: 0;
  font-size: 0.875em;
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 0 7px 7px 0;
  cursor: pointer;
  transition: var(--trans-background);
}
form.search button:hover {
  background-color: var(--dark-color);
}

/* 01. Header
e. Responsive Menu -off Canvas */
.site-off {
  position: fixed;
  width: 320px;
  height: var(--percent100);
  background-color: var(--white-color);
  overflow-y: auto;
  z-index: 1000;
  transform: translateX(-100%);
  visibility: hidden;
  transition: transform 0.4s, visibility 0.4s;
  will-change: transform, visibility;
}
.showmenu .site-off {
  transform: translateX(0);
  visibility: visible;
  transform: transform 0.4s 0s, visibility 0s 0s;
}
.off-canvas {
  width: var(--percent100);
  height: var(--percent100);
  touch-action: auto;
  padding: 1.5em;
}
.off-canvas .canvas-head {
  color: var(--white-color);
  justify-content: space-between;
  padding: 1.5em;
  margin: -1.5em -1.5em 1.5em;
  background-color: var(--secondary-dark-color);
  border-bottom-right-radius: 160px 25px;
}
.off-canvas .canvas-head .logo {
  z-index: 10;
  position: relative;
}
.off-canvas .canvas-head .logo .circle {
  opacity: 0.75;
}
.t-close {
  font-size: 1.25em;
  width: 32px;
  height: 32px;
  border-radius: var(--percent50);
  background-color: var(--secondary-dark-color);
  color: var(--white-color);
  transition: var(--trans-background-color);
}
.t-close:hover {
  background-color: var(--white-color);
  color: var(--secondary-dark-color);
  opacity: 0.75;
}
.off-canvas .dpt-head {
  font-size: var(--font-small);
  padding: 1em;
  margin-bottom: 1em;
  text-align: center;
  background-color: var(--light-bg-color);
  border-radius: 7px 7px 0 0;
}
.off-canvas .has-child > :where(ul, .mega) {
  font-size: var(--font-small);
  font-weight: var(--fw3);
  line-height: 28px;
  padding-left: 3em;

  height: auto;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.off-canvas .expand > :where(ul, .mega) {
  max-height: 2000px;
}

.off-canvas .thetop-nav ul, .off-canvas nav > ul {
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--font-small);
  line-height: 36px;
  padding-top: 1.25em;
  margin: 1.25em 0;
  border-top: 1px solid var(--border-color);
}
.off-canvas nav .mega {
  padding: 0;
}
.off-canvas nav .mega .products {
  display: none;
}
.off-canvas .has-child .icon-small {
  padding: 0.5em;
  line-height: initial;
}
.off-canvas .dpt-menu .icon-small i {
  transform: rotate(90deg);
}
.off-canvas .has-child {
  width: var(--percent100);
}
.off-canvas .thetop-nav .right > ul > :where(:nth-child(4), li:nth-child(5)) > a {
  display: none;
}
.off-canvas .thetop-nav .right ul ul {
  display: flex;
  flex-direction: row;
}
.off-canvas .thetop-nav .right ul ul li a {
  padding: 0.5em;
  border: 1px solid var(--border-color);
  line-height: 16px;
  margin: 0 0.5em 0.5em 0;
}

/* 02. Slider */
.slider > div > ,.wrapper {
  width: calc(100% - (300px + 2em));
  margin-left: auto;
}
.slider .item {
  position: relative;
  height: 474px;
}
.slider .item::before {
  content: '';
  position: absolute;
  top: 30%;
  left: 0;
  width: 450px;
  height: 300px;
  background-color: var(--white-color);
  z-index: 1;
  filter: blur(50px);
  opacity: .8;
}
.slider .text-content {
  position: relative;
  height: var(--percent100);
  justify-content: flex-end;
  padding: 0 0 10% 10%;
  z-index: 1;
}
.slider h4 {
  font-size: var(--font-small);
  font-weight: var(--fw7);
  width: fit-content;
  padding: 4px 10px;
  background-color: var(--dark-color);
  color: var(--white-color);
  border-radius: 4px;
}
.text-content :where(h2,h3) span:first-child {
  font-weight: var(--fw3);
  color: var(--light-text-color);
}
.text-content :where(h2,h3) span:last-child {
  color: var(--secondary-dark-color);
  text-transform: uppercase;
  letter-spacing: -1px;
}
.swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--secondary-dark-color);
}




/* 03. Brands */
.brands .wrapper {
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2em 0;
}
.brands .item img {
  opacity: .5;
  transition: opacity .3s;
}
.brands .item a:hover img {
  opacity: 1;
}

/* 04. Product block style */

.sectop {
  justify-content: space-between;
  padding-bottom: 0.5em;
  margin-bottom: 2em;
  border-bottom: 1px solid var( -- border-color);
}  
.sectop h2 {
  position: relative;
  font-size: 1.5em;
  font-weight: var( -- fw7);
}
.sectop h2 span:not(.circle) {
  padding: 0 0 0 2em;
}
.sectop h2 .circle {
  top: -5px;
}


/* Products Global Styling */
.products .offer {
  text-align: center;
  margin-bottom: 1.5em;
}
.products .offer p {
  text-transform: uppercase;
  margin-bottom: 0.5em;
}
.products .offer ul {
  gap: 1em;
}
.products .offer ul li {
  position: relative;
  width: 34px;
  height: 34px;
  padding: 0.5em;
  line-height: initial;
  color: var(--secondary-dark-color);
  border-radius: 5px;
}
.products .offer ul li:not(:last-child)::before {
  content: ':';
  position: absolute;
  right: -0.6em;
  color: var(--light-text-color);
}
.products :where(.image, .thumbnail) img {
  transition: transform .3s;
}
.products :where(.image, .thumbnail):hover img {
  transform: scale(1.1);
}
.products .hoverable {
  position: absolute;
  top: 0;
  margin-top: 20px;
}
/*.products .hoverable li a {
  width: 28px;
  height: 28px;
  padding: 0.25em;
  margin: 0.25em;
  border-radius: var(--percent50);
  line-height: 1;
  background-color: var(--white-color);
  opacity: .5;
  transition: var(--trans-background-color), opacity .3s;
}*/

.hoverable ul li {
  padding: 0.25em;
}
.products .item:hover .hoverable li a {
  opacity: 1;
}
.item .media .hoverable .social-info {
  position: relative;
  width: 35px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}
.item .media .hoverable .social-info span {
  position: relative;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  background-color: var(--white-color);
  opacity: .5;
  transition: var(--trans-background-color), opacity .3s;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 1;
  }

.item .media .hoverable .social-info .hover-text {
  position: absolute;
  left: 0;
  top: 0px;
  width: 90px;
  left: 5px;
  border-radius: 5px;
  color: var(--white-color);
  text-transform: uppercase;
  font-weight: var(--fw5);
  font-size: 12px;
  text-align: center;
  background-color: var(--secondary-color);
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0;
  visibility: hidden;
}
.item .media .hoverable .social-info:hover {
  width: 100px;
}
.item .media .hoverable .social-info:hover span:after {
  opacity: 1;
  visibility: visible;
}
.item .media .hoverable .social-info:hover .hover-text {
  opacity: 1;
  visibility: visible;
  left: 35px;
}
.products .item:hover .hoverable li a {
  opacity: 1;
}
/* .products .hoverable li a:hover {
  color: var(--white-color);
  background-color: var(--dark-color);
}
.products .hoverable li.active a:hover {
  background-color: var(--primary-color);
}*/
.products .hoverable li:not(.active) {
  transform: translateX(100%);
  opacity: 0;
  transition: transform .3s, opacity .2s;
}
.products .item:hover .hoverable li {
  transform: translateX(0);
  opacity: 1;
}
.products .hoverable li:last-child {
  transition-delay: .1s;
}
.products .discount {
  top: auto;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: transparent;
  z-index: 1;
}
.products .discount::before {
  background-color: var(--dark-color);
}
.products .discount span {
  position: relative;
  font-size: var(--font-smaller);
  font-weight: var(--fw5);
  color: var(--white-color);
}
.products .content {
  display: flex;
  flex-direction: column;
}
.products:where(.big, .main, .one) .content {
  gap: 1em;
  margin-top: 1.25em;
}
.products .rating {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.products .rating .stars {
  width: 80px;
  height: 15px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' height='16' fill='rgba(240,187,64,1)'%3E%3Cpath d='M12.0006 18.26L4.94715 22.2082L6.52248 14.2799L0.587891 8.7918L8.61493 7.84006L12.0006 0.5L15.3862 7.84006L23.4132 8.7918L17.4787 14.2799L19.054 22.2082L12.0006 18.26Z'%3E%3C/path%3E%3C/svg%3E");
  background-position-y: top;
  background-repeat: repeat-x no-repeat;
}
/* to set width of stars */
.products .item:where(:nth-child(3),:nth-child(3)) .stars {
  width: 64px;
}
.products h3 {
  font-family: 'Rubik';
  font-size: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.products h3 a:hover {
  text-decoration: underline;
}
.products .price .current {
  font-size: calc(1em + 1vw);
  color: var(--primary-color);
  margin-right: 0.25em;
}
.products .price .normal {
  color: var(--light-text-color);
  text-decoration: line-through;
}
.products .stock .qty {
  display: flex;
  justify-content: space-between;
}
.products .stock .bar {
  height: 3px;
  margin-top: 1em;
  background-color: var(--border-color);
  overflow: hidden;
}
.products .stock .available {
  height: 3px;
  width: 37%;
  background-color: var(--secondary-color);
}
.products .item {
  display: flex;
  position: relative;
}
.products .stock-danger {
  color: var(--primary-color);
}
.flexwrap .row {
  flex: 0 0 100%;
  width: 100%;
  margin-bottom: 2em;
}







/* 04 .Product 
b Big Product */
.products.big .item {
  flex-direction: column;
  padding: 2.5em;
  border: 2px solid var(--secondary-dark-color);
  border-radius: 7px;
  max-width: 460px;
  margin: 0 auto;
}

/* 04 .Products
c Mini product */
.products.mini .item {
  margin-bottom: 2em;
}
.products.mini .media {
  width: 130px;
  height: 160px;
  margin-right: 1.25em;
}
.products.mini .content {
  margin: 0;
  gap: 0.75em;
}
.products:where(.mini,.main) h3 {
  font-weight: 400;
}
.sectop {
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
}

/* 04. products 
d. Main product*/
.products.main .item {
  flex-direction: column;
  flex: 0 0 100%;
  padding: 0 0.938em;
  padding-bottom: 2em;
}
.products.main .media {
  height: 390px;
}

/* 05. Banner */
.banners .item {
  position: relative;
  background-color: var(--white-color);
  border: 1px solid var(--border-color);
}
.banner .image {
  text-align: right;
}
.banner .get-gray {
  background-color: var(--border-color);
}
.banner :where(.text-content, .over-link) {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--percent100);
  height: var(--percent100);
}
.banner .text-content {
  padding: 1.5em 2.5em;
}
.banner h3 {
  font-size: calc(1em + 0.5vw);
  font-weight: var(--fw3);
}
.banner h3 span {
  font-size: 80%;
}
.banner .primary-button {
  z-index: 3;
}
.banners .product-categories .item {
  display: flex;
  padding: 1.5em;
}
.banners .product-categories .image {
  max-width: 150px;
}
.mini-links ul {
  font-size: var(--font-small);
  color: var(--light-text-color);
  margin-top: 1em;
}
.banners .second-links {
  margin-top: 2em;
}
.mini-links li a:hover {
  text-decoration: underline;
}
/* description */
.markup-pvs {
  margin: 10px 100px;
  border:  1px solid var(--secondary-dark-color);
  border-radius: 5px;
  padding: 10px 40px;
  background-color: var(--light-bg-color);
}
.markup-pvs h1 {
  margin-bottom: 10px;
  text-align: center;
}
.markup-pvs h2 {
  text-align: center;
}
.markup-pvs h2,
.markup-pvs h1 {
  font-weight: var(--fw3);
  font-size: 20px;
}
.markup-pvs p {
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--light-text-color);
  font-size: var(--font-small);
}
.markup-pvs p strong {
  color: #000;
}
.markup-pvs h3 {
  font-weight: var(--fw3);
  font-size: 15px;
}
/* 06. Footer */

/*  06. Footer
  a. News Letter */
.newsletter {
  padding: 2.5em 0;
  background-color: var(--dark-color);
  color: var(--white-color);
}
.newsletter h3 {
  font-size: 1.5em;
}
.newsletter p {
  font-weight: var(--fw3);
  color: var(--border-color);
  margin: 0.5em 0 1.5em;
}
.newsletter p strong,
.newsletter strong {
  color: var(--primary-color);
}
.newsletter form {
  max-width: 500px;
  width: var(--percent100);
}
.newsletter .accept, 
.newsletter .acc {
  text-align: center;
}

/* 05. Footer
b. Widgets */
.widgets {
  padding: 3.5em 2.5em;
  background-color: var(--light-bg-color);
}

/* 05. Footer
b. Footer Info */
.footer-info {
  padding: 3.5em 0 5em;
}
.footer-info .wrapper .flexcol {
  align-items: center;
  gap: 0;
}
.footer-info ul li a {
  font-size: 1.25em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--light-bg-color);
  border-radius: var(--percent50);
  margin: 0.25em;
  transition: var(--trans-background);
}
.footer-info ul li a:hover {
  background-color: var(--border-color);
}
.footer-info .logo a {
  margin: 0 0 1em -0.75em;
}
.footer-info .mini-text {
  margin-top: 2em;
  text-align: center;
}

/* 06. Bottom Menu */
.menu-bottom {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 60px;
  background-color: var(--white-color);
  box-shadow: 0 -2px 10px rgb(0 0 0 / 10%);
  z-index: 900;
}
.menu-bottom nav li {
  flex: 1;
}
.menu-bottom nav li a {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em 0;
  color: var(--light-text-color);
  transition: var(--trans-color);
}
.menu-bottom nav li a:hover {
  color: var(--dark-color);
}
.menu-bottom nav li a span {
  font-size: var(--font-smaller);
}
.menu-bottom nav li a i {
  font-size: 1.25em;
}
.menu-bottom .fly-item {
  right: 50px;
  width: 16px;
  border-radius: var(--percent50);
  margin-right: -20px;
  background-color: var(--secondary-dark-color);
}

/* 06. Bottom Menu
a. Search */
.search-bottom {
  position: fixed;
  bottom: 60px;
  width: var(--percent100);
  padding: 2.5em 0;
  background-color: var(--secondary-dark-color);
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  will-change: visiblity, opacity;
}
.showsearch .search-bottom {
  visibility: inherit;
  opacity: 1;
}
.search-bottom .t-close {
  position: absolute;
  top: -54px;
  right: 0;
}
.search-bottom .t-close:hover {
  background-color: var(--primary-color);
}
/* 07. Overlay */
.overlay {
  position: fixed;
  width: var(--percent100);
  height: var(--percent100);
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, a0.4);
  visibility: hidden;
  opacity: 0;
  will-change: visibilty, opacity;
}
.showmenu .overlay {
  opacity: 1;
  visibility: inherit;
}
/* 08. Page Single */

/* 08. Page Single
a Department Menu */
.page-home .dpt-cat .dpt-trigger,
.dpt-trigger .ri-close-line,
.showdpt .dpt-trigger .ri-menu-add-fill {
  display: none;
}

.showdpt .dpt-trigger .ri-close-line {
  display: block;
}

/* Show ri-close-line when .showdpt is applied */
.page-home .dpt-cat .dpt-trigger.showdpt .ri-close-line {
  display: block;
}

/* 08. Page Single
b. Breadcrumb */
.breadcrumb {
  font-size: var(--font-small);
  margin-bottom: 2em;
}
.breadcrumb li:not(:last-child)::after {
  content: '/';
  padding: 0 0.35em;
}
.breadcrumb li:last-child {
  display: block;
  white-space: nowrap;
  overflow: hidden;

  text-overflow: ellipsis;
  color: var(--light-text-color);
}
/* 08. Page Single
c. product details */
.products.one .item {
  flex-direction: column;
}
.products.one .price .discount {
  font-size: 1em;
  font-weight: var(--fw7);
  line-height: 1;
  position: absolute;
  top: 0;
  width: 60px;
  bottom: auto;
  padding: 1em;
  z-index: 2;
  background-color: var(--dark-color);
  color: var(--white-color);
  border-radius: var(--percent50);
  margin: 0.5em;
}
.products.one :where(.big-image, .small-image) {
  overflow: hidden;
}
.products.one .big-image {
  position: relative;
  margin-bottom: 1em;
}
.products.one :where(.big-image, .small-image) img {
  object-fit: cover;
  width: var(--percent100);
  height: var(--percent100);
  display: block;
}
.products.one .thumbnail-show {
  position: relative;
  width: 130px;
  height: 110px;
  overflow: hidden;
  margin: 0 2em 2em 0;
}
.products :is(.swiper-button-next, .swiper-button-prev) {
  outline: 0;
  color: var(--secondary-dark-color);
  transition: var(--trans-background), transform .3s;
}
.products .big-image:hover .swiper-buton-next {
  transform: translateX(10px);
}
.products .big-image:hover .swiper-buton-prev {
  transform: translateX(-10px);
}
.products :is(.swiper-button-next, .swiper-button-prev) ::after {
  font-size: 1.5em;
}
.products .big-image:hover :is(.swiper-button-next, .swiper-button-prev) {
  background-color: var(--light-bg-color);
}

/* 08. Product Single 
d. Product decription*/
.products.one .available {
  font-size: var(--font-small);
  font-weight: var(--fw5);
  padding: 0.5em;
  margin-right: 1em;
  border-radius: 3px;
  color: #10ac84;
  background-color: var(--light-bg-color);
}
.products.one .add-review {
  color: var(--dark-color);
}
.products.one .price {
  display: flex;
  gap: 1em;
  align-items: center;
  flex-wrap: wrap;
}
.products.one .price .current {
  font-size: 2.5em;
}
.products .variant form {
  display: flex;
  margin-top: 0.5em;
}
.products .variant form p {
  position: relative;
  margin: 0 0.5em 0.5em;
}
.products :where(.variant, .actions) .circle {
  display: block;
  position: static;
  top: 0;
  margin: 0;
  cursor: pointer;
  z-index: 1;
}
.products .variant input {
  clip: react(0,0,0,0);
  overflow: hidden;
  position: absolute;
  height: 0;
  width: 0;
}
.products .variant label ::before {
  opacity: 1;
}
.products .variant label[for="cogrey"]::before {
  background-color: #576574;
}
.products .variant label[for="coblue"]::before {
  background-color: #45a0ff;
}
.products .variant label[for="cogreen"]::before {
  background-color: #1dd1a1;
}
.single-product .variant form p input:checked + label {
  background-color: transparent;
  border: 2px solid var(--dark-color);
  color: var(--white-color);
}

.products .sizes .variant label ::before {
  background-color: var(--white-color);
}
.products .sizes .variant label span {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--percent100);
  height: var(--percent100);
  font-size: 0.85em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.single-product .sizes .variant form p input:checked + label::before {
  background-color: var(--dark-color);
  opacity: 1;
}

.products .actions {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2em;
}
.products .qty-control {
  width: fit-content;
  padding: .5em;
  border: 1px solid var(--border-color);
  margin: 0 2em 2em 0;
}
.products .actions :where(input, button) {
  font-size: 1.25em;
  outline: 0;
  border: 0;
}
.products .actions input {
  width: 50px;
  text-align: center;
}
.products .qty-control button::before {
  background-color: transparent;
}
.products .actions .button-cart {
  flex: 1;
  min-width: 200px;
}
.products .actions .button-cart button {
  width: var(--percent100);
  cursor: pointer;
}
.wish-share a {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: var(--fw7);
  margin: 1em 2em 1em 0;
  transition: var(--trans-color);
}
/* 08 Product Single
e. product review */

.products .collapse .has-child > a {
  position: relative;
  font-weight: var(--fw7);
  text-transform: uppercase;
  padding: 1em 1.25em;
  border-top: 1px solid var(--border-color);  
  gap: 1em;
  align-items: flex-start;
}
.products .collapse .has-child > a::before {
  content: '+';
  position: absolute;
  left: 0;
}
.products .collapse .content {
  margin: 0 0 1.5em 2em;
  font-size: var(--font-small);
}
.products .collapse .content li span:first-child {
  min-width: 100px;
  display: inline-flex;
  font-weight: var(--fw7);
  text-transform: uppercase;
}
.products .collapse table {
  line-height: 3em;
}
.products .collapse table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid var(--dark-color);
}
.products .collapse table :where(th, td) {
  border-bottom: 1ps solid var(--border-color);
  padding-left: 2em;
}
.products .collapse .content {
  display: none;
}
.products .collapse .expand .content {
  display: flex;
}
.products .collapse .expand > a::before {
  content: '-';
}

/* 08. Page Single
e. Product review form */
.products .reviews h4 {
  font-size: 2em;
  color: var(--light-text-color);
  padding-top: 1em;
  margin: 1em 0 0.5em;
  border-top: 1px solid var(--border-color);
}
.products .review-block {
  color: initial;
}
.products .review-block-head > a {
  display: block;
  font-size: 1.25em;
  width: var(--percent100);
  margin-top: 1em;
  text-align: center;
}
.products .review-block-head .rate-sum {
  /* position: relative; */
  font-size: 4em;
  font-weight: var(--fw7);
  font-weight: 0.5em;
}
.products .review-block-head .rate-sum::before {
  content: '';
  width: 2px;
  height: 50px;
  display: block;
  position: absolute;
  top: 10px;
  right: 13px;
  transform: rotate(22deg);
  background-color: var(--light-bg-color);
}
.products .review-block-body .item {
  gap: 1em;
  padding-bottom: 2.5em;
  margin-top: 3.5em;
}
.products .review-block-body :where(.person, .review-title) {
  font-weight: var(--fw7);
  text-transform: uppercase;
}
.products .review-block-body .view-all {
  font-size: 1.25em;
  justify-content: end;
}
.products .review-block-body .item:not(:last-child) {
  border-bottom: 1px solid var(--border-color);
}
/* 08. Page Single
f. Product review form */
.review-form .rating {
  flex-wrap: wrap;
}
.review-form p {
  font-size: 1.25em;
  margin-right: 1em;
}
.review-form .rate-this input {
  display: none;
}
.review-form .rate-this label {
  float: right;
  font-size: 2em;
  color: var(--secondary-dark-color);
}
.rate-this > input:checked ~ label,
.rate-this:not(:checked) > label:hover,
.rate-this:not(:checked) > label:hover ~label {
  color: #f1c40e;
}
.rate-this > input:checked + label:hover,
.rate-this > input:checked ~ label:hover,
.rate-this > input:hover ~ input:checked ~ label,
.rate-this > input:checked ~ label:hover ~ label {
  color: #f6dc45;
}
.review-form form {
  margin-top: 2.5em;
}
form p {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}
form :where(input, textarea) {
  line-height: 1;
  padding: 1em;
  border: 1px solid var(--border-color);
  outline: 0;
}
form label {
  font-weight: var(--fw5);
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.page-single .stock {
  margin: 2em 0;
}
.page-single .stock .qty span:last-child {
  color: initial;
}
.page-single .stock .bar {
  height: 10px;
}
.page-single .stock .bar .available {
  margin: 0;
  border-radius: 0;
  background-color: var(--secondary-dark-color);
}

/* CART */
:where(.mini-cart, .products.cart) .thumbnail {
  position: relative;
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  margin-right: 1em;
}
:is(.mini-cart .products, .products.cart) .thumbnail img {
  transform: none;
}
/* cart page */
.products.cart form {
  width: var(--percent100);
}
.products.cart table thead th {
  vertical-align: middle;
  background-color: var(--light-bg-color);
}
.products.cart table :where(th, td) {
  padding: 2em 1em;
  text-align: center;
}
.products.cart table :where(th, td):first-child {
  text-align: left;
  padding-left: 2em;
}
.products.cart table tbody td:first-child {
  padding-left: 0;
}
.products.cart table td :where(.content, .qty-control, p) {
  margin: 0;
  padding: 0;
}
.products.cart .qty-control :where(button, input) {
  width: 32px;
  height: 32px;
  padding: 0.25em;
  text-align: center;
  outline: 0;
  border: 0;
  background-color: transparent;
}
.products.cart .qty-control button {
  cursor: pointer;
}
.products.cart table tbody tr {
  border-bottom: 1px solid var(--border-color);
}


















































































































































/* 15 responsive */
@media screen and (min-width: 481px) {
  .products.main .item {
    flex: 0 0 50%;
  }
  /* page single */
  .products.one .big-image {
    margin-bottom: 2em;
  }
  .products.one .image-show {
    height: 680px;
  }
  .products.one .thumbnail-show {
    height: 160px;
  }
}


@media screen and (min-width: 768px) {
  .products .price .current {
    font-size: 1.25em;
  }
  .products.mini,
  .banner .row,
  .widgets .row {
    flex: 0 0 50%;
  }
  .products.main .item {
    flex: 0 0 33.3333%;
  }
  .products.one .row {
    flex: 0 0 50%;
    width: 50%;
  }
  .products.one .is_sticky,
  .is_sticky {
    position: sticky;
    top: 2em;
  }
}




@media screen and (min-width: 992px) {
  .container {
    padding: 0 2em;
  }
  .desktop-hide {
    display: none;
  }
  .mobile-hide {
    display: block;
  }
  .logo a {
    margin-right: 2em;
  }
  .header-nav {
    padding: 0;
    margin: 0;
    border-bottom: 0;
  }
  .header-nav .right li > a {
    margin-left: 1em;
  }
    /* mega menu */
  nav .mega {
    position: absolute;
    width: var(--percent100);
    height: auto;
    top: auto;
    left: 0;
    right: 0;
    padding: 2.5em;
    line-height: 2em;
    background-color: var(--light-bg-color);
    box-shadow: rgb(0 0 0 / 20%) 0 30px 20px -30px;
    z-index: 100;

    display: none;
  }
  nav li.has-child:hover .mega {
    display: block;
  }

  nav .mega .wrapper {
    display: flex;
  }
  nav .mega h4 {
    font-size: 0.8em;
    text-transform: uppercase;
  }
  nav .mega ul {
    font-size: var(--font-small);
  }
  nav .mega .women-brands li {
    display: flex;
    flex-wrap: wrap;
    max-width: 180px;
  }
  nav .mega .women-brands li {
    min-width: 80px;
  }
  nav .mega .view-all {
    margin-top: 1em;
  }
  nav .mega .products {
    flex: 2;
    padding: 0;
    align-items: center;
    position: relative;
  }
  nav .mega .products .row {
    width: var(--percent100);
  }
  nav .mega .products .media {
    height: 400px;
  }
  nav .mega .products .text-content {
    line-height: initial;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    margin-top: 0.5em;
    position: absolute;
    bottom: 4em;
    width: var(--percent100);
  }
  nav .mega .products .text-content h4 {
    font-size: 2em;
    font-weight: var(--fw8);
    text-align: center;
    color: var(--secondary-dark-color);
  }
  .header-main .right {
    max-width: 600px;
    margin-left: auto;
  }
    /* Department menu */
  .dpt-menu {
    position: absolute;
    top: var(--percent100);
    width: 300px;
    background-color: var(--white-color);
    border: 1px solid var(--border-color);
    border-top: 0;
    border-bottom: 0;
  }
  .dpt-menu > ul > li > a {
    font-weight: var(--fw5);
    padding: 0 1.5em;
    border-bottom: 1px solid var(--border-color);
  }
  .dpt-menu .has-child > ul {
    position: absolute;
    top: 0;
    left: var(--percent100);
    width: var(--percent100);
    height: auto;
    min-height: var(--percent100);
    padding: 1.5em;
    font-size: var(--font-small);
    line-height: 2.5em;
    border: 1px solid var(--border-color);
    border-top: 0;
    display: none;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: auto;
  }
  .dpt-menu .mega {
    position: absolute;
    top: 0;
    left: var(--percent100);
    width: var(--percent100);
    height: auto;
    min-height: var(--percent100);
    padding: 1.5em;
    font-size: var(--font-small);
    line-height: 2.5em;
    border: 1px solid var(--border-color);
    border-top: 0;
    display: none;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: auto;

  }
  /* Displaying the first sub menu */
  /* .dpt-menu .has-child:nth-child(1) > ul {
    display: block; 
  }*/
  .dpt-menu .beauty ul {
    background-image: url(assets/menu/menu_bg1.jpg);
  }
  .dpt-menu .electronics ul {
    background-image: url(assets/menu/menu_bg2.jpg);
  }
  .dpt-menu .fashion ul {
    background-image: url(assets/menu/menu_bg3.jpg);
  }
  .dpt-menu .homekit .mega {
    background-image: url(assets/menu/menu_bg4.jpg);
    /* background-size: cover; */
  }
  .dpt-menu .mega {
    width: auto;
    min-width: var(--percent100);
  }
  .dpt-menu .has-child:hover .mega {
    display: flex;
  }
  .dpt-menu .has-child > :where(ul, .mega)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, rgba(225, 225, 225, 1) 0%, rgba(225, 225, 225, 0) 100%);
  }
  .dpt-menu .has-child:hover .mega {
    display: flex;
  }

  /* slider */
  .slider > div > .wrapper {
    width: calc(100% -(300px +2em));
    margin-left: 320px;
  }

  /* Products */
  
  .trending .products,
  .product-categories .row {
    flex: 0 0 33.3333%;
  }
  .products.big .media {
    max-height: 400px;
  }
  .products.main .item,
  .widgets .row {
    flex: 0 0 25%;
  }
  /* footer */
  .newsletter .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* page single */
  #page:not(.page-home) .dpt-menu {
    display: none;
  }
  #page.showdpt .dpt-menu {
    display: block;
  }
  .products.one .flexwrap > .row:last-child > .item {
    padding-left: 2em;
  }

  /* page cart */
  .products.cart .form-cart {
    width: 66%;
  }
  .products.cart .cart-summary {
    width: 34%;
    padding-left: 2.5em;
    margin-top: 0;
  }
}