{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DigitalCart</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
</head>
<body>
    {% include 'navbar.html' %}

    {% block content %}

    {% endblock %}

<div class="footer-info">
    <div class="container">
        <div class="wrapper">
            <div class="flexcol">
                <div class="logo">
                    <a href="#"><span class="circle"></span>.DigitalCart</a>
                </div>
                <div class="socials">
                    <ul class="flexitem">
                        <li><a href="#"><i class="ri-twitter-line"></i></a></li>
                        <li><a href="#"><i class="ri-facebook-fill"></i></a></li>
                        <li><a href="#"><i class="ri-instagram-line"></i></a></li>
                        <li><a href="#"><i class="ri-youtube-line"></i></a></li>
                        <li><a href="#"><i class="ri-linkedin-fill"></i></a></li>
                    </ul>
                </div>
            </div>
            <p class="mini-text">Copyright 2024 © .DigitalCart. All rights reserved.</p>
        </div>
    </div>
</div>
<!-- footer -->

<div class="menu-bottom desktop-hide">
    <div class="container">
        <div class="wrapper">
            <nav>
                <ul class="flexitem">
                    <li>
                        <a href="#">
                            <i class="ri-bar-chart-line"></i>
                            <span>Trending</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="ri-user-6-line"></i>
                            <span>Account</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="ri-heart-line"></i>
                            <span>Wishlist</span>
                        </a>
                    </li>
                    <li>
                        <a href="#0" class="t-search">
                            <i class="ri-search-line"></i>
                            <span>Search</span>
                        </a>
                    </li>
                    <li>
                        <a href="#0">
                            <i class="ri-shopping-cart-line"></i>
                            <span>Cart</span>
                            <div class="fly-item">
                                <span class="item-number">0</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<!-- menu bottom -->

<div class="search-bottom desktop-hide">
    <div class="container">
        <div class="wrapper">
            <form action="" class="search">
                <a href="#" class="t-close search-close flexcenter"><i class="ri-close-line"></i></a>
                <span class="icon-large"><i class="ri-search-line"></i></span>
                <input type="search" placeholder="Search">
                <button type="submit">Search</button>
            </form>
        </div>
    </div>
</div>
<!-- search bottom -->

<div class="overlay">

</div>
<!-- overlay -->
</div>


<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>    
<script src="https://cdnjs.cloudflare.com/ajax/libs/fslightbox/3.4.1/index.js"></script>
<script src="{% static 'script.js' %}"></script>
</body>
</html>

