{% extends 'base.html' %}

{% include 'navbar.html' %}


{% block content %}

<div class="features">
    <div class="container">
        <div class="wrapper">
            <div class="column">
                <div class="sectop flexitem">
                    <h2><span class="circle"></span><span>{{ category.name }}</span></h2>
                    <div class="second-links">
                        <a href="#" class="view-all">View All<i class="ri-arrow-right-line"></i></a><br>
                    </div>
                </div>
                <div class="products main flexwrap">

                    {% for product in products %}

                    <div class="item">
                        <div class="media">
                            <div class="thumbnail object-cover">
                                <a href="#">
                                    <img src="{{ product.image.url }}" alt="">
                                </a>
                            </div>
                            <div class="hoverable">
                                <ul>
                                    <li class="active"><a href="#" class="social-info">
                                        <span><i class="ri-heart-line"></i></span>
                                        <p class="hover-text">Wishlist</p>
                                    </a></li>
                                    <li><a href="#" class="social-info">
                                        <span><i class="ri-eye-line"></i></span>
                                        <p class="hover-text">View more</p>
                                    </a></li>
                                    <li><a href="#" class="social-info">
                                        <span><i class="ri-shopping-cart-line"></i></span>
                                        <p class="hover-text">Add to Cart</p>
                                    </a></li>
                                </ul>
                            </div>
                            <div class="discount circle flexcenter"><span>50%</span></div>
                        </div>
                        <div class="content">
                            <div class="rating">
                                <div class="stars"></div>
                                <span class="mini-text">(17,098)</span>
                            </div>
                            <h3><a href="#">{{ product.name }}</a></h3>
                            <div class="price">
                                <span class="current">{{ product.sellingprice }}UGX</span>
                                <span class="normal mini-text">{{ product.globalprice }}UGX</span>
                            </div>
                            <div class="footer">
                                <ul class="mini-text">
                                    <li>{{ product.description }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    {% endfor %}



                    {% for item in items %}

                    <div class="item">
                        <div class="media">
                            <div class="thumbnail object-cover">
                                <a href="{% url 'app2:detail' item.id %}">
                                    <img src="{{ item.image.url }}" alt="">
                                </a>
                            </div>
                            <div class="hoverable">
                                <ul>
                                    <li class="active"><a href="#" class="social-info">
                                        <span><i class="ri-heart-line"></i></span>
                                        <p class="hover-text">Wishlist</p>
                                    </a></li>
                                    <li><a href="#" class="social-info">
                                        <span><i class="ri-eye-line"></i></span>
                                        <p class="hover-text">View more</p>
                                    </a></li>
                                    <li><a href="#" class="social-info">
                                        <span><i class="ri-shopping-cart-line"></i></span>
                                        <p class="hover-text">Add to Cart</p>
                                    </a></li>
                                </ul>
                            </div>
                            <div class="discount circle flexcenter"><span>{{ item.discounted_price }}%</span></div>
                        </div>
                        <div class="content">
                            <div class="rating">
                                <div class="stars"></div>
                                <span class="mini-text">(17,098)</span>
                            </div>
                            <h3><a href="#">{{ item.name }}</a></h3>
                            <div class="price">
                                <span class="current">{{ item.sellingprice }}UGX</span>
                                <span class="normal mini-text">{{ item.globalprice }}UGX</span>
                            </div>
                            <div class="footer">
                                <ul class="mini-text">
                                    <li>{{ item.description }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}