<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Contact Us | Digital Cart</title>
    <link rel="stylesheet" href="contact.css" />
  </head>
  <body>
    <style>
      body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f7f7f7;
      }
      header {
        background-color: #e409f0;
        color: #fff;
        text-align: center;
        padding: 1rem 0;
      }
      main {
        display: flex;
        justify-content: space-around;
        margin-top: 2rem;
        padding: 0 10%;
      }

      .contact-info,
      .contact-form {
        width: 45%;
        background-color: #fff;
        padding: 2rem;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
      .contact-form {
        background-color: #f0f0f0;
        border-radius: 15px;
        box-sizing: border-box;
        padding: 40px;
        width: 100%;
        height: 100%;
      }
      .contact-form form {
        display: flex;
        flex-direction: column;
      }
      .contact-form label {
        margin-bottom: 0.5rem;
        font-weight: 600;
      }
      .contact-form input,
      .contact-form textarea {
        margin-bottom: 1rem;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        height: 40px;
        line-height: 40px;
        border-radius: 20px;
      }
      .contact-form textarea {
        height: 80px;
        line-height: 40px;
        border-radius: 20px;
      }
      .contact-form button {
        padding: 0.5rem 1rem;
        background-color: #e409f0;
        color: #fff;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
      .contact-form button:hover {
        background-color: #e409f0; /* Darker shade for hover effect */
      }
      h2 {
        color: black; /* Brand color */
        text-transform: uppercase;
        border-bottom: 2px solid black; /* Border under h2 elements */
        padding-bottom: 10px;
      }
    </style>
    <header>
      <h1>Contact digitalcart</h1>
    </header>
    <main>
      <section class="contact-info">
        <h2>Contact Information</h2>
        <p>Email: contact@digitalcart.com</p>
        <p>Phone: +256 707-833-143</p>
        <div class="container">
            <h3>reach out to us on socialmedia</h3>
            <div class="social-icons">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-youtube"></i></a>
              <a href="#"><i class="fab fa-linkedin"></i></a>
            </div>
      </section>
      <section class="contact-form">
        <h2>write to us</h2>
        <form action="/contact_us/" method=POST>
          {% csrf_token %}
  
          <div class="form-box">
              <!------------------- Contact form -------------------------->
              <div class="register-container" id="register">
                  
                  <div class="input-box">
  
                      <input type="text" id="username" name="username" class="input-field" placeholder="Create a username" required>
  
                      <i class="bx bx-user"></i>
                  </div>
                  <div class="two-forms">
                      <div class="input-box">
  
                          <input type="text" id="email" name="fname" class="input-field" placeholder="email" required>
  
                          <i class="bx bx-user"></i>
                      </div>
                      <div class="input-box">
                        <textarea id="message" name="message" class="input-field" placeholder="Enter your message" required></textarea>
                        <i class="bx bx-user"></i>
                    </div>
                    
                  </div>
                 
                  
                  
                  
                  <button class="sumbit">
                    <span class="btnText">Submit</span>
                    <i class="uil uil-navigator"></i>
                      
                  </div>
                 
              </div>
          </div>
      </form>
      </section>
    </main>
  </body>
</html>
