{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{% static 'individualsellstyle.css' %}">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SELL PAGE</title>
    <link rel="stylesheet" href="sellstyle.css" />
  </head>
  <body>
    <h1>INDIVIDUAL SELL</h1>
    <form id="sell-form">
      <div class="form-group">
        <label for="product-name">Product Name:</label>
        <input type="text" id="product-name" required />
      </div>

      <div class="form-group">
        <label for="product-category">Category:</label>
        <select id="product-category">
          <option value="clothing">Clothing</option>
          <option value="electronics">Electronics</option>
          <option value="home appliances">Electronics</option>
          <option value="game consoles">Electronics</option>
          <option value="furniture">Electronics</option>
          <option value="computing">Electronics</option>
          <option value="decor">Electronics</option>
          <!-- Add more categories here -->
        </select>
      </div>

      <div class="form-group">
        <label for="product-description">Description:</label>
        <textarea id="product-description" rows="4"></textarea>
      </div>

      <div class="form-group">
        <label for="product-location">Location:</label>
        <input type="text" id="product-location" required />
      </div>
      <div class="form-group">
        <label for="product-location">Location:</label>
        <input type="text" id="product-location" required />
      </div>
      <div class="form group">
        <label for="product-photos">Add Photos:</label>
        <input type="file" id="product-photos" accept="image/*" multiple />
      </div>
      <div class="form group">
        <label for="product-photos">Add a video:</label>
        <input type="file" id="product-video" accept="video/*" />
      </div>
      <div class="form group">
        <label for="payment-methods">Accepted Payment Methods:</label>
        <input type="checkbox" id="credit-card" value="credit-card" />
        <label for="credit-card">Credit Card</label>
        <input type="checkbox" id="paypal" value="paypal" />
        <label for="paypal">PayPal</label>
      </div>

      <button type="submit">Post Ad</button>
    </form>

    <script src="script.js"></script>
  </body>
</html>
