{% load static %}

<header>
    <div class="header-top mobile-hide">
        <div class="container">
            <div class="wrapper flexitem">
                <div class="left">
                    <ul class="flexitem main-links">
                        
                      <li><a href="{% url 'about' %}">About</a></li>
                      <li><a href="#">Wishlist</a></li>
                    </ul>
                </div>
                <div class="right">
                    <ul class="flexitem main-links">
                        {% if user.is_authenticated %}
                        <li><a href="/signout">Sign Out</a></li>
                        {% else %}
                        <li><a href="/signup">Signup</a></li>
                        <li><a href="/signin">Signin</a></li>
                        {% endif %}
                        <li><a href="/register">Register Business</a></li>
                        <li><a href="">UGX<span class="icon-small"><i class="ri-arrow-down-s-line"></i></span></a>                                        
                            <ul>
                                <li class="current"><a href="">UGX</a></li>
                                <li><a href="">USD</a></li>
                                <li><a href="">EURO</a></li>
                                <li><a href="">Bitcoin</a></li>
                            </ul>
                        </li>
                        <li><a href="">English<span class="icon-small"><i class="ri-arrow-down-s-line"></i></span></a>
                            <ul>
                                <li class="current"><a href="#">English</a></li>
                                <li><a href="">Luganda</a></li>
                                <li><a href="">Kiswahili</a></li>
                                <li><a href="">French</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- header-top -->

    <div class="header-nav">
        <div class="container">
            <div class="wrapper flexitem">
                <a href="#" class="trigger desktop-hide"><i class="ri-menu-add-fill"></i></a>
                <div class="left flexitem">
                    <div class="logo"><a href="{% url 'index' %}"><span class="circle"></span>.DigitalCart</a></div>
                    <nav class="mobile-hide">
                        <ul class="flexitem second-links">
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <li><a href="{% url 'my_shop' %}">My Shop</a></li>
                            <li><a href="#">Men</a></li>
                            <li>
                                <a href="#">Sports
                                    <div class="fly-item"><span>New!</span></div>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="right">
                    <ul class="flexitem second-links">
                        <li class="mobile-hide"><a href="#">
                            <div class="icon-large"><i class="ri-heart-line"></i></div>
                            <div class="fly-item"><span class="item-number">0</span></div>
                        </a></li>
                        <li><a href="#" class="iscart">
                            <div class="icon-large">
                                <i class="ri-shopping-cart-line"></i>
                                <div class="fly-item"><span class="item-number">0</span></div>
                            </div>
                            <div class="icon-text">
                                <div class="mini-text">Total</div>
                                <div class="cart-total">00UGX</div>
                            </div>
                        <!-- </a>
                        <div class="mini-cart">
                            <div class="content">
                                <div class="cart-head">
                                    20 items in cart
                                </div>
                                <div class="cart-body">
                                    <ul class="products mini">
                                        <li class="item">
                                            <div class="thumbnail object-cover">
                                                <a href="#"><img src="{% static 'assets/products/louis.jpg' %}" alt=""></a>
                                            </div>
                                            <div class="item-content">
                                                <p><a href="#">Loius Jacket</a></p>
                                                <span class="price">
                                                    <span>50000UGX</span>
                                                    <span class="fly-item"><span>2x</span></span>
                                                </span>
                                            </div>
                                            <a href="" class="item-remove"><i class="ri-close-line"></i></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="cart-footer">
                                    <div class="subtotal">
                                        <p>Subtotal</p>
                                        <p><strong>1000000UGX</strong></p>
                                    </div>
                                    <div class="actions">
                                        <a href="#" class="primary-button">Order</a>
                                        <a href="" class="secondary-button">View Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- header-nav -->