
{% block content %}
    <h3>Forgot password</h3>
    <form method = 'POST'>
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" name="send email">
    </form>
{% endblock %}    