{% block content %}
{% if validlink %}
    <h3> Change Password</h3>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Change password</button>
    </form>
{% else %}
<p>
    The password reset link was invlaid, possibly because it has already been used.
    Please request a new password reset link.
</p>  
{% endif %}  

{% endblock %}  