{% block content %}
<p>We have emailed you instructions for setting your password, if an account exists with the email you entered. 
    You should receive them shortly.
</p>
<p>
    If you do not receive an email, please make sure you have entered the address you registered with, 
    and check your spam folder.
</p>

{% endblock %}    