<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">User Profile Update</title>
</head>
<body>
    <h1>Profileupdate</h1>
    <br/><br/>
    <form action="/profile/{{ user.username }}" method="post">
        {% csrf_token %}

        {{user_form.as_p}}
        <br/><br/>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" value="{{ user.email }}"><br><br>
       
        <button type="submit">Profileupdate</button>
    </form>
    
</body>
</html>