{% block content %}
    <h3>Profile Update</h3>
    <form method = 'POST' action="/app1/profile_update/">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Update</button>
    </form>
{% endblock %}    