{% extends 'base.html' %}
{% block content %}
<form method="POST" novalidate>
    {% csrf_token %}
    <h2>Register Business</h2>
    {{ form.as_p }}
    <input type="submit" value="Register" />
</form>
{% endblock content %}
