<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search Results</title>
  </head>
  <body>
    <h1>Search Results</h1>
    <form method="GET" action="{% url 'search_products' %}">
      <input type="text" name="q" placeholder="Search products" />
      <button type="submit">Search</button>
    </form>

    <ul>
      {% for product in products %}
      <li>{{ in-stock}} - {{ category }}</li>
      {% empty %}
      <li>No products found</li>
      {% endfor %}
    </ul>
  </body>
</html>
