{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <link rel="stylesheet" href="{% static 'style1.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="style1.css">
    <title>DigitalCart</title>
</head>
<body>
    {% for message in messages %}
    <div class="alert alert-{{ message.ags}} alert-dismissible fade show" role="alert">
    <strong>Message:</strong>{{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</spanaria-hidden></span>
    </button>
    </div>
    {% endfor %}
     
 <div class="wrapper">
    <nav class="nav">
        <div class="nav-logo">
            <p>.DigitalCart</p>
        </div>
        <div class="nav-menu" id="navMenu">
            <ul>
                <li><a href="/index" class="link active">Home</a></li>
                <li><a href="#" class="link">Blog</a></li>
                <li><a href="#" class="link">Services</a></li>
                <li><a href="/app1/description" class="link">About</a></li>
            </ul>
        </div>
        <div class="nav-menu-btn">
            <i class="bx bx-menu" onclick="myMenuFunction()"></i>
        </div>
    </nav>
    <!---------------------------- Form box ----------------------------------->  
    

    <form action="/signup/" method=POST>
        {% csrf_token %}

        <div class="form-box">
            <!------------------- registration form -------------------------->
            <div class="register-container" id="register">
                <div class="top">
                    <span>Have an account? <a href="signin" onclick="login()">Login</a></span>
                    <header>Sign Up</header>
                </div>
                <div class="input-box">

                    <input type="text" id="username" name="username" class="input-field" placeholder="Create a username" required>

                    <i class="bx bx-user"></i>
                </div>
                <div class="two-forms">
                    <div class="input-box">

                        <input type="text" id="fname" name="fname" class="input-field" placeholder="Firstname" required>

                        <i class="bx bx-user"></i>
                    </div>
                    <div class="input-box">

                        <input type="text" id="lname" name="lname" class="input-field" placeholder="Lastname" required>

                        <i class="bx bx-user"></i>
                    </div>
                </div>
                <div class="input-box">

                    <input type="email" id="email" name="email" class="input-field" placeholder="Email" required>
    
    
                    <i class="bx bx-envelope"></i>
                </div>
                <div class="input-box">

                    <input type="password" id="password" name="password" class="input-field" placeholder="Create Password" minlength=8 required>

                    <i class="bx bx-lock-alt"></i>
                </div>
                <div class="input-box">

                    <input type="password" id="Cpassword" name="Cpassword" class="input-field" placeholder="Comfirm Password" required>

                    <i class="bx bx-lock-alt"></i>
                </div>
                <div class="input-box">

                    <input type="submit" class="submit" value="Sign Up">
                    
                </div>
                <div class="two-col">
                    <div class="one">
                        <input type="checkbox" id="register-check">
                        <label for="register-check"> Remember Me</label>
                    </div>
                    <div class="two">
                        <label><a href="#">Terms & conditions</a></label>
                    </div>
                </div>
            </div>
        </div>
    </form>
 </div>   
<script>
   
   function myMenuFunction() {
    var i = document.getElementById("navMenu");
    if(i.className === "nav-menu") {
        i.className += " responsive";
    } else {
        i.className = "nav-menu";
    }
   }
 
</script>
<script>
    var a = document.getElementById("loginBtn");
    var b = document.getElementById("registerBtn");
    var x = document.getElementById("login");
    var y = document.getElementById("register");
    function login() {
        x.style.left = "4px";
        y.style.right = "-520px";
        a.className += " white-btn";
        b.className = "btn";
        x.style.opacity = 1;
        y.style.opacity = 0;
    }
    function register() {
        x.style.left = "-510px";
        y.style.right = "5px";
        a.className = "btn";
        b.className += " white-btn";
        x.style.opacity = 0;
        y.style.opacity = 1;
    }
</script>
</body>
</html>
