

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DigitalCart</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    <link rel="icon" type="image/png" href="{% static 'assets/favicon.png' %}">
</head>
<body>
    <div id="page" class="site page-single">

        <aside class="site-off desktop-hide">
            <div class="off-canvas">
                <div class="canvas-head flexitem">
                    <div class="logo"><a href="#"><span class="circle"></span>.DigitalCart</a></div>
                    <a href="#" class="t-close flexcenter"><i class="ri-close-line"></i></a>
                </div>
                <div class="departments"></div>
                <nav></nav>
                <div class="thetop-nav"></div>
            </div>
        </aside>

        <header>
            <div class="header-top mobile-hide">
                <div class="container">
                    <div class="wrapper flexitem">
                        <div class="left">
                            <ul class="flexitem main-links">
                              <li><a href="{% url 'app:about' %}">About</a></li>
                              <li><a href="#">Wishlist</a></li>
                            </ul>
                        </div>
                        <div class="sell">
                            <button class="button">Sell with DitalCart</button>
                        </div>
                        <div class="right">
                            <ul class="flexitem main-links">
                                {% if user.is_authenticated %}
                                <li><a href="#">Sign Out</a></li>
                                {% else %}
                                <li><a href="#">Sign In</a></li>
                                {% endif %}
                                {% if request.user.is_authenticated %}
                                <li><a href="{% url 'myaccount' %}">My Account</a></li>
                                {% endif %}
                                <li><a href="">My Orders</a></li>
                                <li><a href="">UGX<span class="icon-small"><i class="ri-arrow-down-s-line"></i></span></a>                                        
                                    <ul>
                                        <li class="current"><a href="#">UGX</a></li>
                                        <li><a href="#">USD</a></li>
                                        <li><a href="#">EURO</a></li>
                                        <li><a href="#">Bitcoin</a></li>
                                    </ul>
                                </li>
                                <li><a href="">English<span class="icon-small"><i class="ri-arrow-down-s-line"></i></span></a>
                                    <ul>
                                        <li class="current"><a href="#">English</a></li>
                                        <li><a href="#">Luganda</a></li>
                                        <li><a href="#">Kiswahili</a></li>
                                        <li><a href="#">French</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- header-top -->

            <div class="header-nav">
                <div class="container">
                    <div class="wrapper flexitem">
                        <a href="#" class="trigger desktop-hide"><i class="ri-menu-add-fill"></i></a>
                        <div class="left flexitem">
                            <div class="logo"><a href="{% url 'app:index' %}"><span class="circle"></span>.DigitalCart</a></div>
                            <nav class="mobile-hide">
                                <ul class="flexitem second-links">
                                    <li><a href="{% url 'app:index' %}">Home</a></li>
                                    <li><a href="{% url 'my_shop' %}">My Shop</a></li>
                                    <li><a href="#">Men</a></li>
                                    <li>
                                        <a href="#">Sports
                                            <div class="fly-item"><span>New!</span></div>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="right">
                            <ul class="flexitem second-links">
                                <li class="mobile-hide"><a href="#">
                                    <div class="icon-large"><i class="ri-heart-line"></i></div>
                                    <div class="fly-item"><span class="item-number">0</span></div>
                                </a></li>
                                <li><a href="#" class="iscart">
                                    <div class="icon-large">
                                        <i class="ri-shopping-cart-line"></i>
                                        <div class="fly-item"><span class="item-number">0</span></div>
                                    </div>
                                    <div class="icon-text">
                                        <div class="mini-text">Total</div>
                                        <div class="cart-total">000UGX</div>
                                    </div>
                                </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- header-nav -->

            <div class="header-main mobile-hide">
                <div class="container">
                    <div class="wrapper flexitem">
                        <div class="left">
                            <div class="dpt-cat">
                                <div class="dpt-head">
                                    <div class="main-text">All Categories</div>
                                    <div class="mini-text mobile-hide">Total of 270893 Products</div>
                                    <a href="#" class="dpt-trigger mobile-hide">
                                        <i class="ri-menu-add-fill"></i>
                                        <i class="ri-close-line ri-xl"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="right">
                            <div class="search box">
                                <form action="" class="search">
                                    <span class="icon-large"><i class="ri-search-line"></i></span>
                                    <input type="search" placeholder="Search for products">
                                    <button type="submit">Search</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- header-main -->
            
        </header>
        <!-- header -->

        <main>

            <div class="single-product">
                <div class="container">
                    <div class="wrapper">
                        <div class="breadcrumb">
                            <ul class="flexitem">
                                <li><a href="{% url 'app1:index' %}">Home</a></li>
                                <li><a href="#">{{ item.category }}</a></li>
                                <li>{{ item.name}}</li>
                            </ul>
                        </div>
                        <!-- breadcrumb -->

                        <div class="column">
                            <div class="products one">
                                <div class="flexwrap">
                                    <div class="row">
                                        <div class="item is_sticky">
                                            <div class="price">
                                                <span class="discount">{{ item.discounted_price }}%<br>OFF</span>
                                            </div>
                                            <div class="big-image">
                                                <div class="big-image-wrapper swiper-wrapper">
                                                    <div class="image-show swiper-slide">
                                                        <a data-fslightbox href="{{ item.image.url }}"><img src="{{ item.image.url }}" alt=""></a>
                                                    </div>
                                                    <div class="image-show swiper-slide">
                                                        <a data-fslightbox href="{% static 'assets/products/shoe1-1.jpg' %}"><img src="{% static 'assets/products/shoe1-1.jpg' %}" alt=""></a>
                                                    </div>
                                                    <div class="image-show swiper-slide">
                                                        <a data-fslightbox href="{% static 'assets/products/shoe1-2.jpg' %}"><img src="{% static 'assets/products/shoe1-2.jpg' %}" alt=""></a>
                                                    </div>
                                                    <div class="image-show swiper-slide">
                                                        <a data-fslightbox href="{% static 'assets/products/shoe1-3.jpg' %}"><img src="{% static 'assets/products/shoe1-3.jpg' %}" alt=""></a>
                                                    </div>
                                                </div>
                                                <div class="swiper-button-next"></div>
                                                <div class="swiper-button-prev"></div>
                                            </div>
                                            <div thumbSlider="" class="small-image">
                                                <ul class="small-image-wrapper flexitem swiper-wrapper">
                                                    <li class="thumbnail-show swiper-slide">
                                                        <img src="{{ item.image.url }}" alt="">
                                                    </li>
                                                    <li class="thumbnail-show swiper-slide">
                                                        <img src="{% static 'assets/products/shoe1-1.jpg' %}" alt="">
                                                    </li>
                                                    <li class="thumbnail-show swiper-slide">
                                                        <img src="{% static 'assets/products/shoe1-2.jpg' %}" alt="">
                                                    </li>
                                                    <li class="thumbnail-show swiper-slide">
                                                        <img src="{% static 'assets/products/shoe1-3.jpg' %}" alt="">
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="item">
                                            <h1>{{ item.name }}</h1>
                                            <div class="content">
                                                <div class="rating">
                                                    <div class="stars"></div>
                                                    <a href="#" class="mini-text">17,098 reviews</a>
                                                    <a href="#" class="add-review mini-text">Add Your Review</a>
                                                </div>
                                                <div class="stock-sku">
                                                    <span class="available">In Stock</span>
                                                    <span class="sku mini-text">SKU-881</span>
                                                </div>
                                                <div class="price">
                                                    <span class="current">{{ item.sellingprice }}UGX</span>
                                                    <span class="normal">{{ item.globalprice }}UGX</span>
                                                </div>

                                                <div class="stock mini-text" data-stock="4000">
                                                    <div class="qty">
                                                        <span>Sold:<strong class="qty-sold">5674</strong></span>
                                                        <span>Stock:<strong class="qty-available">96</strong></span>
                                                    </div>
                                                    <div class="bar">
                                                        <div class="available"></div>
                                                    </div>
                                                </div>


                                                <div class="colors">
                                                    <p>Color</p>
                                                    <div class="variant">
                                                        <form action="">
                                                            <p>
                                                                <input type="radio" name="color" id="cogrey">
                                                                <label for="cogrey" class="circle"></label>
                                                            </p>
                                                            <p>
                                                                <input type="radio" name="color" id="coblue">
                                                                <label for="coblue" class="circle"></label>
                                                            </p>
                                                            <p>
                                                                <input type="radio" name="color" id="cogreen">
                                                                <label for="cogreen" class="circle"></label>
                                                            </p>
                                                        </form>
                                                    </div>
                                                </div>
                                                <div class="sizes">
                                                    <p>Size</p>
                                                    <div class="variant">
                                                        <form action="">
                                                            <p>
                                                                <input type="radio" name="color" id="size-40">
                                                                <label for="size-40" class="circle"><span>40</span></label>
                                                            </p>
                                                            <p>
                                                                <input type="radio" name="color" id="size-41">
                                                                <label for="size-41" class="circle"><span>41</span></label>
                                                            </p>
                                                            <p>
                                                                <input type="radio" name="color" id="size-42">
                                                                <label for="size-42" class="circle"><span>42</span></label>
                                                            </p>
                                                            <p>
                                                                <input type="radio" name="color" id="size-43">
                                                                <label for="size-43" class="circle"><span>43</span></label>
                                                            </p>
                                                        </form>
                                                    </div>
                                                </div>
                                                <h4>Sold By:</h4>
                                                            <strong>
                                                                <a href="{% url 'vendor_detail' item.user.id %}">
                                                                {% firstof item.user.get_full_name item.user.username %}
                                                                </a>
                                                            </strong>
                                                <div class="actions">
                                                    <a href="{% url 'vendor_detail' item.user.id %}"><div class="button-cart"><button class="primary-button">{% firstof item.user.get_full_name item.user.username %}</button></div></a>
                                                    <div class="wish-share">
                                                        <ul class="flexitem second-links">
                                                            <li><a href="#">
                                                                <span class="icon-large"><i class="ri-heart-line"></i></span>
                                                                <span>Wishlist</span>
                                                            </a></li>
                                                            <li><a href="#">
                                                                <span class="icon-large"><i class="ri-share-line"></i></span>
                                                                <span>Share</span>
                                                            </a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="description collapse">
                                                    <ul>
                                                        <li class="has-child expand">
                                                            <a href="#" class="icon-small">Information</a>
                                                            <ul class="content">
                                                                <p>{{ item.detail }}</p>
                                                                <li><span>Brands</span> <span>Stark</span></li>
                                                                <li><span>Activity</span> <span>Saving the Universe</span></li>
                                                                <li><span>Material</span> <span>Nano Tech</span></li>
                                                                <li><span>Gender</span> <span>Definetly Men</span></li>
                                                            </ul>
                                                        </li>
                                                        <li class="has-child">
                                                            <a href="#" class="icon-small">Details</a>
                                                            <div class="content">
                                                                <p>{{ item.description }}</p>
                                                                <p>Our flagship product, the Arc Reactor Sneaker, features a built-in arc reactor in the sole, providing a lightweight and sustainable energy source that can keep up with your most active lifestyle. The sneaker is equipped with smart sensors that can adjust the cushioning and support to your specific movements, ensuring a comfortable and customized fit every time.</p>
                                                            </div>
                                                        </li>
                                                        <li class="has-child">
                                                            <a href="#" class="icon-small">Custom</a>
                                                            <div class="content">
                                                                <table>
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Size</th>
                                                                            <th>Bust <span class="mini-text">(cm)</span></th>
                                                                            <th>Waist <span class="mini-text">(cm)</span></th>
                                                                            <th>Hip <span class="mini-text">(cm)</span></th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>XS</td>
                                                                            <td>82</td>
                                                                            <td>45</td>
                                                                            <td>98</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>S</td>
                                                                            <td>45</td>
                                                                            <td>45</td>
                                                                            <td>45</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>M</td>
                                                                            <td>67</td>
                                                                            <td>03</td>
                                                                            <td>78</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>L</td>
                                                                            <td>83</td>
                                                                            <td>56</td>
                                                                            <td>97</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>XL</td>
                                                                            <td>93</td>
                                                                            <td>08</td>
                                                                            <td>01</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </li>
                                                        <div class="has-child expand">
                                                            <a href="#" class="icon-small">Reviews<span class="mini-text">17k</span></a>
                                                            <div class="content">
                                                                <div class="reviews">
                                                                    <h4>Customers' Reviews</h4>
                                                                    <div class="review-block">
                                                                        <div class="review-block-head">
                                                                            <div class="flexitem">
                                                                                <span class="rate-sum">5.0</span>
                                                                                <span>17,098 Reviews</span>
                                                                            </div>
                                                                            <a href="#review-form" class="secondary-button">Write a review</a>
                                                                        </div>
                                                                        <div class="review-block-body">
                                                                            <ul>
                                                                                <li class="item">
                                                                                    <div class="review-form">
                                                                                        <p class="person">Review by Winnie</p>
                                                                                        <p class="mini-text">On 20/07/2004</p>
                                                                                    </div>
                                                                                    <div class="review-rating rating">
                                                                                        <div class="stars"></div>
                                                                                    </div>
                                                                                    <div class="review-text">
                                                                                        <p>I believe in humanity and at the same time I hate humans</p>
                                                                                    </div>
                                                                                </li>
                                                                                <li class="item">
                                                                                    <div class="review-form">
                                                                                        <p class="person">Review by Ivy</p>
                                                                                        <p class="mini-text">On 01/01/2024</p>
                                                                                    </div>
                                                                                    <div class="review-rating rating">
                                                                                        <div class="stars"></div>
                                                                                    </div>
                                                                                    <div class="review-text">
                                                                                        <p>Same here, I agree with Lauren</p>
                                                                                    </div>
                                                                                </li>
                                                                            </ul>
                                                                            <div class="second-links">
                                                                                <a href="#" class="view-all">View all reviews <i class="ri-arrow-right-line"></i></a>
                                                                            </div>
                                                                        </div>
                                                                        <div id="review-form" class="review-form">
                                                                            <h4>Write a review</h4>
                                                                            <div class="rating">
                                                                                <p>Are you satisfied enough?</p>
                                                                                <div class="rate-this">
                                                                                    <input type="radio" name="rating" id="star5">
                                                                                    <label for="star5"><i class="ri-star-fill"></i></label>
                                                                                    
                                                                                    <input type="radio" name="rating" id="star4">
                                                                                    <label for="star4"><i class="ri-star-fill"></i></label>

                                                                                    <input type="radio" name="rating" id="star3">
                                                                                    <label for="star3"><i class="ri-star-fill"></i></label>

                                                                                    <input type="radio" name="rating" id="star2">
                                                                                    <label for="star2"><i class="ri-star-fill"></i></label>

                                                                                    <input type="radio" name="rating" id="star1">
                                                                                    <label for="star1"><i class="ri-star-fill"></i></label>
                                                                                </div>
                                                                            </div>
                                                                            <form action="">
                                                                                <p>
                                                                                    <label>Name</label>
                                                                                    <input type="text">
                                                                                </p>
                                                                                <p>
                                                                                    <label>Review</label>
                                                                                    <textarea cols="30" rows="10"></textarea>
                                                                                </p>
                                                                                <p><a href="#" class="primary-button">Submit Review</a></p>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>           

            <div class="related-products">
                <div class="container">
                    <div class="wrapper">
                        <div class="column">
                            <div class="sectop flexitem">
                                <h2><span class="circle"></span><span>Related Products</span></h2>
                                <div class="second-links">
                                    <a href="#" class="view-all">View All<i class="ri-arrow-right-line"></i></a><br>
                                </div>
                            </div>
                            <div class="products main flexwrap">
                                {% for item in related_items %}
                                <div class="item">
                                    <div class="media">
                                        <div class="thumbnail object-cover">
                                            <a href="{% url 'products:detail' item.id %}">
                                                <img src="{{ item.image.url }}" alt="">
                                            </a>
                                        </div>
                                        <div class="hoverable">
                                            <ul>
                                                <li class="active"><a href="#" class="social-info">
                                                    <span><i class="ri-heart-line"></i></span>
                                                    <p class="hover-text">Wishlist</p>
                                                </a></li>
                                                <li><a href="#" class="social-info">
                                                    <span><i class="ri-eye-line"></i></span>
                                                    <p class="hover-text">View more</p>
                                                </a></li>
                                                <li><a href="{% url 'products:cart' item.id %}" class="social-info">
                                                    <span><i class="ri-shopping-cart-line"></i></span>
                                                    <form action="{% url 'products:cart' item.id %}" method="post">
                                                        {% csrf_token %}
                                                        <p class="hover-text"><button type="submit">Add to Cart</button></p>
                                                    </form>                                                    
                                                </a></li>
                                            </ul>
                                        </div>
                                        <div class="discount circle flexcenter"><span>{{ item.discounted_price }}%</span></div>
                                    </div>
                                    <div class="content">
                                        <div class="rating">
                                            <div class="stars"></div>
                                            <span class="mini-text">(17,098)</span>
                                        </div>
                                        <h3><a href="#">{{ item.name }}</a></h3>
                                        <div class="price">
                                            <span class="current">{{ item.sellingprice }}UGX</span>
                                            <span class="normal mini-text">{{ item.globalprice }}UGX</span>
                                        </div>
                                        <div class="footer">
                                            <ul class="mini-text">
                                                <li>{{ item.description }}</li>
                                                <li>Ultra-soft and incredibly warm, comfortable, and healthy</li>
                                                <li>Fabric is durable and resistant to wrinkles, shrinking, and mildew</li>
                                            </ul>
                                        </div>
                                    </div>
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Featured Products-->

            <div class="banners">
                <div class="container">
                    <div class="wrapper">
                        <div class="column">
                            <div class="banner flexwrap">
                                <div class="row">
                                    <div class="item">
                                        <div class="image">
                                            <img src="{% static 'assets/banner/banner1.jpg' %}" alt="">
                                        </div>
                                        <div class="text-content flexcol">
                                            <h4>Brutal Sale!</h4>
                                            <h3><span>Get the deal Now</span><br>Furniture</h3>
                                            <a href="#" class="primary-button">Show Now</a>
                                        </div>
                                        <a href="#" class="over-link"></a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="item get-gray">
                                        <div class="image">
                                            <img src="{% static 'assets/banner/banner2.jpg' %}" alt="">
                                        </div>
                                        <div class="text-content flexcol">
                                            <h4>Brutal Sale!</h4>
                                            <h3><span>Discount Everyday</span><br>Office Wear</h3>
                                            <a href="#" class="primary-button">Show Now</a>
                                        </div>
                                        <a href="#" class="over-link"></a>
                                    </div>
                                </div>
                            </div>
                            <!-- banners -->

                            <div class="product-categories flexwrap">
                                <div class="row">
                                    <div class="item">
                                        <div class="image">
                                            <img src="{% static 'assets/banner/lock1.jpg' %}" alt="">
                                        </div>
                                        <div class="content mini-links">
                                            <h4>Security</h4>
                                            <ul class="flexcol">
                                                <li><a href="#">Cameras</a></li>
                                                <li><a href="#">Alarms</a></li>
                                                <li><a href="#">Password Locks</a></li>
                                                <li><a href="#">Electic Fences</a></li>
                                            </ul>
                                            <div class="second-links">
                                                <a href="" class="view-all">View All<i class="ri-arrow-right-line"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="item">
                                        <div class="image">
                                            <img src="{% static 'assets/banner/samsung.jpg' %}" alt="">
                                        </div>
                                        <div class="content mini-links">
                                            <h4>Phones</h4>
                                            <ul class="flexcol">
                                                <li><a href="#">Samsung</a></li>
                                                <li><a href="#">iPhone</a></li>
                                                <li><a href="#">Tecno</a></li>
                                                <li><a href="#">Redmi</a></li>
                                                <li><a href="#">Infinix</a></li>
                                                <li><a href="#">Google Pixel</a></li>
                                            </ul>
                                            <div class="second-links">
                                                <a href="" class="view-all">View All<i class="ri-arrow-right-line"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="item">
                                        <div class="image">
                                            <img src="{% static 'assets/banner/chair1.jpg' %}" alt="">
                                        </div>
                                        <div class="content mini-links">
                                            <h4>Gaming</h4>
                                            <ul class="flexcol">
                                                <li><a href="#">Chairs</a></li>
                                                <li><a href="#">Gaming Pads</a></li>
                                                <li><a href="#">Sony Play Stations</a></li>
                                                <li><a href="#">Games</a></li>
                                                <li><a href="#">Wheels</a></li>
                                            </ul>
                                            <div class="second-links">
                                                <a href="" class="view-all">View All<i class="ri-arrow-right-line"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- banners -->

        </main>
        <!-- main -->

        <footer>
            <div class="newsletter">
                <div class="container">
                    <div class="wrapper">
                        <div class="box">
                            <div class="content">
                                <h3>Subscribe to our newsletter</h3>
                                <p>Get E-mail updates on our latest updates and<strong> Special Offers</strong></p>
                            </div>
                            <form action="" class="search">
                                <span class="icon-large"><i class="ri-mail-line"></i></span>
                                <input type="mail" placeholder="Enter E-mail Address" required>
                                <button type="submit">Sign Up</button>
                            </form>
                        </div>
                    </div>
                    <div class="accept">
                        <input type="checkbox" id="accept">
                        <label for="accept">I agree to DigitalCart’s Privacy and Cookie Policy. You can unsubscribe from newsletters at any time.</label>
                    </div>
                    <div class="acc"><strong><a href="#">I accept the Legal Terms</a></strong></div>                    
                </div>
            </div>
            <!-- newsletter -->

            <div class="widgets">
                <div class="container">
                    <div class="wrapper">
                        <div class="flexwrap">
                            <div class="row">
                                <div class="item mini-links">
                                    <h4>Need Help</h4>
                                    <ul class="flexcol">
                                        <li><a href="#">Chat with us</a></li>
                                        <li><a href="#">Help Center</a></li>
                                        <li><a href="#">Contact us</a></li>
                                    </ul>
                                </div>
                                <div class="item mini-links">
                                    <h4>Useful Links</h4>
                                    <ul class="flexcol">
                                        <li><a href="#">Place an order</a></li>
                                        <li><a href="#">Pay for your order</a></li>
                                        <li><a href="#">Delivery</a></li>
                                        <li><a href="#">Delivery Timelines</a></li>
                                        <li><a href="#">Report a Product</a></li>
                                        <li><a href="#">Create a return</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="item mini-links">
                                    <h4>About DigitalCart</h4>
                                    <ul class="flexcol">
                                        <li><a href="#">About us</a></li>
                                        <li><a href="#">DigitalCart Careers</a></li>
                                        <li><a href="#">Terms and Conditions</a></li>
                                        <li><a href="#">Store & Credit Terms & Conditions</a></li>
                                        <li><a href="#">Dispute Resolution Policy</a></li>
                                        <li><a href="#">Privacy policy Notice</a></li>
                                        <li><a href="#">Return & Refund Policy</a></li>
                                        <li><a href="#">Cookie Notice</a></li>
                                        <li><a href="#">Flash Sales</a></li>
                                        <li><a href="#">Cookie Notice</a></li>
                                        <li><a href="#">DigitalCart Global</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="item mini-links">
                                    <h4>Make money with us</h4>
                                    <ul class="flexcol">
                                        <li><a href="#">Sell on DigitalCart</a></li>
                                        <li><a href="#">Vendor Hub</a></li>
                                        <li><a href="#">Become a Sales Consultant</a></li>
                                        <li><a href="#">Become a Logistics Service Partner</a></li>
                                        <li><a href="#">Become a DigitalCart Delivery Agent</a></li>
                                        <li><a href="#">DigitalCart B2B</a></li>
                                        <li><a href="#">Become a DigitalCart Pickup Station Partner</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="item mini-links">
                                    <h4>DigitalCart International</h4>
                                    <ul class="flexcol">
                                        <li><a href="#">Kenya</a></li>
                                        <li><a href="#">Egypt</a></li>
                                        <li><a href="#">Ghana</a></li>
                                        <li><a href="#">Morocco</a></li>
                                        <li><a href="#">SouthAfrica</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- widgets -->
        </footer>

        <div class="footer-info">
            <div class="container">
                <div class="wrapper">
                    <div class="flexcol">
                        <div class="logo">
                            <a href="#"><span class="circle"></span>.DigitalCart</a>
                        </div>
                        <div class="socials">
                            <ul class="flexitem">
                                <li><a href="#"><i class="ri-twitter-line"></i></a></li>
                                <li><a href="#"><i class="ri-facebook-fill"></i></a></li>
                                <li><a href="#"><i class="ri-instagram-line"></i></a></li>
                                <li><a href="#"><i class="ri-youtube-line"></i></a></li>
                                <li><a href="#"><i class="ri-linkedin-fill"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <p class="mini-text">Copyright 2024 © .DigitalCart. All rights reserved.</p>
                </div>
            </div>
        </div>
        <!-- footer -->

        <div class="menu-bottom desktop-hide">
            <div class="container">
                <div class="wrapper">
                    <nav>
                        <ul class="flexitem">
                            <li>
                                <a href="#">
                                    <i class="ri-bar-chart-line"></i>
                                    <span>Trending</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="ri-user-6-line"></i>
                                    <span>Account</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="ri-heart-line"></i>
                                    <span>Wishlist</span>
                                </a>
                            </li>
                            <li>
                                <a href="#0" class="t-search">
                                    <i class="ri-search-line"></i>
                                    <span>Search</span>
                                </a>
                            </li>
                            <li>
                                <a href="#0">
                                    <i class="ri-shopping-cart-line"></i>
                                    <span>Cart</span>
                                    <div class="fly-item">
                                        <span class="item-number">0</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- menu bottom -->

        <div class="search-bottom desktop-hide">
            <div class="container">
                <div class="wrapper">
                    <form action="" class="search">
                        <a href="#" class="t-close search-close flexcenter"><i class="ri-close-line"></i></a>
                        <span class="icon-large"><i class="ri-search-line"></i></span>
                        <input type="search" placeholder="Search">
                        <button type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- search bottom -->

        <div class="overlay">

        </div>
        <!-- overlay -->
    </div>


    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fslightbox/3.4.1/index.js"></script> 
    <script src="{% static 'script.js' %}"></script>
</body>
</html>
