{% extends 'base.html' %}
{% block content %}


<div class="features">
    <div class="container">
        <div class="wrapper">
            <div class="column">
                <div class="sectop flexitem">
                    <h2><span class="circle"></span><span>{{ title }}</span></h2>
                </div>
                <form method="post" action="add_product" enctype="multipart/form-data">
                    {% csrf_token %}

                    {{ form.as_p }}

                    <button class="primary-button">ADD</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}