{% extends 'base.html' %}
{% block content %}



<div class="features">
    <div class="container">
        <div class="wrapper">
            <div class="column">
                <div class="sectop flexitem">
                    <h2><span class="circle"></span><span>Edit {{ item.name }}</span></h2>
                    
                </div>
                <form method="post" action="." enctype="multipart/form-data">
                    {% csrf_token %}

                    {{ form.as_p }}

                    <button class="primary-button">Submit</button>

                    
                </form>
                <br>
                <form method="post" action="{% url 'delete_item' item.id %}">
                    {% csrf_token %}
                    <button type="submit" class="secondary-button">Delete {{ item.name }}</button>
                </form>
                
            </div>
        </div>
    </div>
</div>


{% endblock %}
