{% extends 'base.html' %}
{% block content %}



<div class="features">
    <div class="container">
        <div class="wrapper">
            <div class="column">
                <div class="sectop flexitem">
                    <h2><span class="circle"></span><span>Enter Business Details</span></h2>
                    
                </div>
                <!-- <form method="post" action="create-info" enctype="multipart/form-data">
                    {% csrf_token %}

                    {{ form.as_p }}

                    <button class="primary-button">Submit</button>
                </form> -->
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="primary-button">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}
