{% extends 'base.html' %}



{% block content %}
<div class="features">
    <div class="container">
        <div class="wrapper">
            <div class="column">
                <div class="sectop flexitem">
                    <h2><span class="circle"></span><span>Login</span></h2>
                </div>
                <form method="post" action=".">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button class="primary-button">Login</button>
                </form>
                <div class="products main flexwrap">


                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}