{% extends 'base.html' %}



{% block content %}
<style>
    .not {
        background-color: #f3e9e9;
        padding: 8px 4px;
        text-align: center;
    }
</style>
<div class="features">
    <div class="container">
        <div class="wrapper">
            <div class="column">
                <div class="sectop flexitem">
                    <h2><span class="circle"></span><span>My Shop</span></h2>
                </div><br>

                {% if messages %}
                    {% for message in messages %}
                        <div class="not">
                    
                            <p>You don't have any products yet...</p>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}

                <a href="{% url 'add_product' %}"><div class="primary-button">Add Product</div></a><br>
                <a href="{% url 'info' %}"><div class="primary-button">Business Details</div></a>

                </div>
            </div>
            <br>
            <h3>My Products</h3>
            <div class="features">
                <div class="container">
                    <div class="wrapper">
                        <div class="column">
                            <div class="products main flexwrap">
                                {% if request.user.items.all %}
                                    {% for item in request.user.items.all %}
                    
                                    <div class="item">
                                        <div class="media">
                                            <div class="thumbnail object-cover">
                                                <a href="{% url 'edit_product' item.id %}">
                                                    <img src="{{ item.image.url }}" alt="">
                                                </a>
                                            </div>
                                            <div class="hoverable">
                                                <ul>
                                                    <li class="active"><a href="#" class="social-info">
                                                        <span><i class="ri-heart-line"></i></span>
                                                        <p class="hover-text">Wishlist</p>
                                                    </a></li>
                                                    <li><a href="#" class="social-info">
                                                        <span><i class="ri-eye-line"></i></span>
                                                        <p class="hover-text">View more</p>
                                                    </a></li>
                                                    <li><a href="#" class="social-info">
                                                        <span><i class="ri-shopping-cart-line"></i></span>
                                                        <p class="hover-text">Add to Cart</p>
                                                    </a></li>
                                                </ul>
                                            </div>
                                            <div class="discount circle flexcenter"><span>{{ item.discounted_price }}%</span></div>
                                        </div>
                                        <div class="content">
                                            <div class="rating">
                                                <div class="stars"></div>
                                                <span class="mini-text">(17,098)</span>
                                            </div>
                                            <h3><a href="<int:pk>/">{{ item.name }}</a></h3>
                                            <div class="price">
                                                <span class="current">{{ item.sellingprice }}UGX</span>
                                                <span class="normal mini-text">{{ item.globalprice }}UGX</span>
                                            </div>
                                            <div class="footer">
                                                <ul class="mini-text">
                                                    <li>{{ item.description }}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                    
                                    {% endfor %}
                            {% else %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <div class="not">
                
                <p>You don't have any products yet...</p>
                {% endif %}
            </div>

        </div>
    </div>
</div>



{% endblock %}