{% extends 'base.html' %}
{% load static %}


{% block content %}




<div class="features">
    <div class="container">
        <div class="wrapper">
            <div class="column">
                <div class="sectop flexitem">
                    <h2>
                        <div class="circle"></div>
                        <span>About {% firstof user.get_full_name user.username %}'s Business</span>
                    </h2>
                </div>
                {% for info in infos %}
                <div class="pic"><img src="{{ info.logo.url }}" alt="Logo"></div>
                
                <div class="markup-pvs">
                    <h1> Business Name: {{ info.businame }}</h1>
                    <h2>{{ info.slogan }}!</h2>
                    <P>
                        
                        <strong>{{ info.businame }}</strong>{{ info.about }}
                    </P>
                    <h2>SERVICES OFFERED</h2>
                    <P>{{ info.services_offered }}</P>
                    <h2>LOCATION</h2>
                    <p>{{ info.location }}</p>
                    </p>
                    <div class="info">
                        <h2>METHODS OF CONTACT</h2>
                        <h3>1. EMAIL ADDRESS 1?</h3>
                        <p>{{ info.email1 }}
                        </P>
                        <h3>1. EMAIL ADDRESS 2?</h3>
                        <p>{{ info.email2 }}
                        </P>
                        <h3>2. PHONE NUMBER 1?</h3>
                        <p>{{ info.phone1 }}
                        </p>
                        <h3>3. PHONE NUMBER 2?</h3>
                        <p>{{ info.phone2 }}
                        </p>
                        <h3>ANY BRANCHES</h3>
                        <P>
                            {{ info.other_branches }}
                        </P>
                    </div>
                </div>
                {% endfor %}

                <br>
                
                <div class="sectop flexitem">
                    <h2><span class="circle"></span><span>All products posted by {% firstof user.get_full_name user.username %}</span></h2>
                </div>
                <div class="products main flexwrap">

                    {% for item in user.items.all %}

                    <div class="item">
                        <div class="media">
                            <div class="thumbnail object-cover">
                                <a href="{% url 'products:detail' item.id %}">
                                    <img src="{{ item.image.url }}" alt="">
                                </a>
                            </div>
                            <div class="hoverable">
                                <ul>
                                    <li class="active"><a href="#" class="social-info">
                                        <span><i class="ri-heart-line"></i></span>
                                        <p class="hover-text">Wishlist</p>
                                    </a></li>
                                    <li><a href="#" class="social-info">
                                        <span><i class="ri-eye-line"></i></span>
                                        <p class="hover-text">View more</p>
                                    </a></li>
                                    <li><a href="#" class="social-info">
                                        <span><i class="ri-shopping-cart-line"></i></span>
                                        <p class="hover-text">Add to Cart</p>
                                    </a></li>
                                </ul>
                            </div>
                            <div class="discount circle flexcenter"><span>{{ item.discounted_price }}%</span></div>
                        </div>
                        <div class="content">
                            <div class="rating">
                                <div class="stars"></div>
                                <span class="mini-text">(17,098)</span>
                            </div>
                            <h3><a href="#">{{ item.name }}</a></h3>
                            <div class="price">
                                <span class="current">{{ item.sellingprice }}UGX</span>
                                <span class="normal mini-text">{{ item.globalprice }}UGX</span>
                            </div>
                            <div class="footer">
                                <ul class="mini-text">
                                    <li>{{ item.description }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    {% endfor %}

                </div>
            </div>
            <hr>
            <br>
            <a href="#">
                <div class="primary-button">Contact {% firstof user.get_full_name user.username %}</div>
            </a>
            
        </div>
    </div>
</div>
{% endblock %}